webpack.config.js
// - Добавим файл настроек webpack в игнор eslint

// N.B. На самом деле последний пункт не обязателен, потому что eslint в проекте не следит за файлами вне директории
"src", но, к сожалению, современные редакторы, вроде VS Code или WebStorm, оказывают медвежью услугу и проверяют все файлы в проекте, хотя их никто не просил. В том числе файл настроек webpack, где есть, например, require, который у нас под запретом
